.search-box {
  position: relative;
  width: 30%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 50px;
  padding: 5px 10px;
}
.search-box input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}
.search-box img {
  width: 20px;
  height: 20px;
}
