@import url("https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");

/*@media (prefers-color-scheme: dark) {
  body {
    background-color: #1b263b;
    color: #ffffff;
}
*/

@media (prefers-color-scheme: light) {
  body {
    background-color: #edede9;
    color: #000000;
  }
  /* أضف تنسيقات أخرى للوضع الفاتح */
}

body {
  margin: 0;
  font-family: "zain", sans-serif;
  width: 100%;
  height: 100vh;
}
